h1{
    color: rgb(241, 160, 177);
}

a:link{
    color: rgb(223, 138, 35);
    /*para que no se subraye el link*/
    text-decoration: none;
}
a:visited{
    color:#28df17;
    text-decoration: none;
}
/*cuando nos ponemos encima del link*/
a:hover{
    color: rgb(12, 187, 245); 
    /*para subrayar*/
    text-decoration: underline;
}
a:active{
    color: #023047;
    text-decoration: underline;
}